<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="demos">
        <div :style="{ fontSize: size + 'px' }">123123</div>
        <input v-on:click="doThis" type="button" value="button">
        firstName: {{ firstName }}<br>
        lastName: {{ lastName }}<br>
        fullName: {{ fullName }}
        <ul>
            <li v-for="like in likes">{{ like.name }}</li>
        </ul>

        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>
        var demos = new Vue({
            el: "#demos",
            data: {
                firstName: "zhang",
                lastName: "fei",
                size: 80,
                likes: [
                    {"name":"you"},
                    {"name":"你"},
                    {"name":"あなた"}
                ],
                message: ""
            },
            computed: {
                fullName: function () {
                    return this.firstName + " " + this.lastName;
                }
            },
            methods: {
                doThis: function () {
                    alert(this.fullName);
                }
            }
        })
    </script>
</body>

</html>